<a href="/" class="ui basic grey labeled icon button">
  <i class="left arrow icon"></i>
  Back
</a>
<h1>Add new message</h1>
<form method="POST" action="/new" class="ui form">
  <div class="field">
    <input name="name" id="name" placeholder="Your name" />
  </div>
  <div class="field">
    <input name="message" id="message" placeholder="Your message" />
  </div>
  <button type="submit" class="ui basic black button">Submit</button>
</form>