<h1>{{title}}</h1>
<div class="ui one cards">
  {{#each messages}}
    <div class="ui card">
      <div class="content">
        <div class="header">
          {{this.user}}
        </div>
        <div class="text">
          {{this.text}}
        </div>
        <div class="meta">
          {{this.added}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="ui hidden divider"></div>
<div class="center-container">
<a href="/new" class="ui large basic black labeled icon button">
  <i class="comment medical icon"></i>
  Add new message
</a>
</div>